/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}



/* ==========================================================================
                              IL MIO CODICE CSS
   ==========================================================================
 */

/* ==========================================================================
                                    HEADER
   ==========================================================================
 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  position: relative;
}

/*centra il logo*/
.vuoto, .icone {
  flex: 1;
}

.centro {
  flex: 2; /*più spazio al logo*/
  text-align: center;
}

h1 {
  font-family: "Old English Text MT", serif; /*font cercato su internet*/
  color: #000000;
  font-size: 52px;
  margin: 0;
}

.sottotitolo {
  font-family: serif;
  font-style: italic;
  margin: -5px 0 0 0; /*margine negativo per avvicinarlo al logo*/
  font-size: 17px;
}

.icone {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

/*pulsante subscribe*/
.aenean {
  font-family: "Times New Roman", serif;
  font-weight: bold;
  background-color: #222;
  color: #ffffff;
  padding: 2px 8px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.aenean:hover {
  background-color: #c00;
}

/*"pulsante"  magna ligula*/
.magna a {
  font-family: "Times New Roman", serif;
  color: #000000;
  cursor: pointer;
}

.magna a:hover {
  color: #c00;
}

/*finto pulsante foto mailbox*/
#mailbox {
  height: 35px;
  width: auto;
  cursor: pointer;
  opacity: 0.4; /*la foto è più scura di quella del sito originale*/
}

/*link senza sottolineatura*/
a {
  text-decoration: none !important;
  color: inherit;
}

/* ==========================================================================
                              MENU A TENDINA
   ==========================================================================
 */

.menu { /*barra divisoria*/
  position: sticky;
  top: 0;           /*si blocca esattamente all'inizio della finestra*/
  z-index: 1000;    /*rimane sopra agli altri contenuti mentre si scorre*/

  height: 36px;
  width: 100%;
  background-color: #a61022;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
  white-space: nowrap;
}

.menu-tendina {
  position: relative; /*posiziono il contenuto rispetto al titolo*/
  display: inline-block;
  cursor: pointer;
}

/*applico casella a tutti i menu a tendina per comodità
ed evitare di scrivere lo stesso codice 8 volte*/
.casella {
  font-family: "Times New Roman", serif;
  font-size: 18px;
  padding: 10px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  padding-top: 5px;
  min-width: 130px;
  background-color: #ffffff;
  z-index: 1000;
  left: 0;
}

/*stile dei link dentro il menu*/
.dropdown-content a {
  color: #000000;
  padding: 3px 5px;
  text-decoration: none;
  display: block;    /*uno sotto l'altro*/
  font-family: "Times New Roman", sans-serif;
  font-size: 14px;
}

/*effetto hover sui singoli link*/
.dropdown-content a:hover {
  background-color: #a61022;
  color: #ffffff;
}

.menu-tendina:hover .dropdown-content {
  display: block;
}
/* ==========================================================================
                              GRIGLIA A 3 COLONNE
   ==========================================================================
 */

.griglia {
  display: grid;
  /*colonna 1: 25%, Colonna 2: 50%, Colonna 3: 25%*/
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: serif;
}

/*stile delle mini-notizie a sinistra*/
.mini-news {
  display: flex;
  gap: 10px;
  margin-bottom: 3px;
  align-items: center;
}

.mini-news img {
  width: 90px; /*dimensione fissa*/
  height: 80px;
}

.mini-news h2 {
  font-size: 14px !important;
  line-height: 1.1;
  font-weight: bold;
  color: #000000;
  margin: 0;
  cursor: pointer;
}

.mini-news h2:hover{
  color: #a61022;
}

/*stile per la notizia principale centrale*/
.news-principali > h2 {
  font-size: 35px !important;
  font-family: "Times New Roman", Serif;
  color: #000000;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
  cursor: pointer;
}

.news-principali > h2:hover{
  color: #a61022;
}

.news-principali p{
  font-size: 15px;
  font-family: "Times New Roman", Serif;
  color: #767676;
}

.autore{
  color: teal;
}

sub{
    font-size: 13px;
    vertical-align: 2px;
  color: #c00;
  }

#paragrafo {
  font-family: "Times New Roman", Serif;
  font-size: 19px;
  text-align: left;
  color: #444444;
  margin-bottom: 80px;
}

.mini {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: flex-start; /*allineo il testo all'inizio dell'immagine*/
}

/*fforza il contenuto a stare uno sopra l'altro*/
.testo-notizia {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mini img {
  width: 130px;
  height: 110px;
  object-fit: cover; /*evito che l'immagine si deformi*/
}

.mini h2 {
  font-size: 16px !important;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  text-align: left;
  color: #000000;
  cursor: pointer;
}

.mini h2:hover{
  color: #a61022;
}

.mini p {
  font-size: 14px;
  margin: 0;
}

.popular{ /*come #extra{} è solo per spaziare*/
  margin-top: 80px;
}

.popular-divisore {
  display: flex;
  gap: 10px;
  margin-bottom: 3px;
  align-items: center;

  height: 30px;
  width: 100%;
  color: #ffffff;
  background-image: linear-gradient(to right,
    #afb8c4 0%,    /*inizio grigio*/
    #afb8c4 25%,   /*resta grigio fino al 25% */
    #e9ecf0 60%,
    #ffffff 95%);
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(175, 184, 196, 0.2);
}

.popular h2{
  font-size: 18px;
  line-height: 1.1;
  text-weight: bold;
  margin: 0;
  margin-left: 7px;
}

.popular p{
  font-size: 16.5px;
  font-weight: bold;
  font-family: "Times New Roman", Serif;
  color: #000000;
  margin: 0;
  height: auto;
  margin-top:16px;
  cursor: pointer;
}

.popular p:hover{
  color: #a61022;
}

.foto {
  width: 100%;
  height: auto;
}

/*search-bar*/
.barra-cerca {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.search {
  width: 100%;
  padding: 5px 40px 5px 15px; /*aumento il padding a destra (40px) per non scrivere sopra l'icona*/
  border: 1px solid #ccc;
  border-radius: 20px; /*effetto stondato*/
  font-family: "Times New Roman", Serif;
  outline: none;
}

/*icona della lente di ingrandimento*/
.icona {
  position: absolute;
  right: 15px;      /*distanza dal bordo destro*/
  top: 50%;         /*centro verticalmente*/
  transform: translateY(-50%); /*correzione precisa del centro*/
  fill: #666;       /*colore scelto dell'icona*/
  pointer-events: none; /*il click passa attraverso l'icona e attiva l'input*/
}

/*effetto quando clicchi sulla barra: diventa rossa come il divisore dei menu a tendina*/
.search:focus {
  border-color: #a61022;
}

.ipsum-quia {
  color: #000000;
  font-family: "Times New Roman", Serif;
  font-size: 17px;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2%;
  position: relative;
  gap: 5px;
}

.pics {
  display: flex;
  height: 30px;
  width: auto;
  cursor: pointer;
  filter: grayscale(100%);
  opacity: 0.4;
  border-radius: 4px;
  margin-bottom: 10px;
}

.pics:hover {
  filter: grayscale(0%);
  opacity: initial;
}

.foto-laterale h2 {
  color: #000000;
  font-family: "Times New Roman", Serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 70px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2%;
  position: relative;
}

.foto-laterale h2:hover{
  color: #a61022;
}

.player {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
}

.paper-section {
  display: flex;
  align-items: flex-start;
  margin-top: 3px;
  gap: 8px; /*controllo distanza orizzontale tra foto e testo*/
  margin-top: 25px;
}

.paper-testo {
  display: flex;
  flex-direction: column;
  width: 130px;
}

/*rimuovo i margini che creano troppo spazio*/
.paper-testo h3,
.paper-testo p {
  margin: 0;
  padding: 0;
  line-height: 1.1; /*interlinea (string spazio tra le righe)*/
}

.paper-testo h3 {
  font-family: "Times New Roman", Serif;
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px; /*distanza minima tra titolo e paragrafo*/
  cursor: pointer;
}

.paper-testo h3:hover{
  color: #a61022;
}

.paper-testo p {
  font-family: "Times New Roman", Serif;
  color: #555555;
  font-size: 15px;
  line-height: 1.2;
  font-weight: normal;
}

/*forzo p a non prendere la funzione di h3*/
.paper-testo p:hover{
  cursor: text;
  color: #555555;
}

.paper-img {
  /*definisco larghezza fissa per bloccare il testo*/
  width: 130px;
  height: auto;
  display: block;
  margin: 0;
}

/* ==========================================================================
                              PIE' DI PAGINA
   ==========================================================================
 */
#footer-background {
  background-color: #e9ecf0;
  width: 100%;
  padding: 30px 0 10px 0;
  margin-top: 30px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto; /*centro il container nella pagina*/
  padding: 0 20px;
}

.footer-column {
  flex: 1;/*forzo le colonne ad avere larghezza uguale*/
  min-width: 150px;
}

.footer-column h2 {
  color: #a61022;
  font-family: "Arial Black", sans-serif; /*cambio font per far risultare le parole più "appariscenti"*/
  font-size: 18px;
  margin-bottom: 7px;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-column h2:hover{
  text-decoration: underline;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 2px;
}

.footer-column li:hover{
  text-decoration: underline;
}

.footer-column a {
  text-decoration: none;
  color: #333;
  font-family: "Times New Roman", serif;
  font-size: 15px;
  line-height: 1.2;
}

.footer-bottom {
  text-align: center;
  padding: 40px 20px;
  background-color: #e9ecf0;
  border-top: 1px solid #afb8c4; /*aggiungo linea sottile per separare*/
  margin-top: 60px;
}



.footer-links-row { /*"link" rossi alla fine*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /*serve per andare a capo sulla versione telefonica*/
  gap: 15px;
  margin-bottom: 20px;
}


.footer-links-row a {
  color: #a61022;
  text-decoration: none;
  font-family: "Times New Roman", Serif;
  font-weight: bold;
  font-size: 19px;
}


/*finte info copyright finali*/
.footer-info p {
  font-family: "Times New Roman", serif;
  font-size: 13px;
  color: #333;
  margin: 5px 0;
}


/* ==========================================================================
                              ACCESSIBILITA' (EXTRA)
   ========================================================================== */

/*aggiunge contorno visibile quando si scorre la pagina con la tastiera */
a:focus,
button:focus,
input:focus {
  outline: 2px solid #a61022;
  outline-offset: 2px;
}

/*rimuove l'outline default se uso il mouse ma lo mantiene per la tastiera */
a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: none;
}

/* ==========================================================================
                          ADATTAMENTO A VISIONE TELEFONICA
   ==========================================================================
 */

@media (max-width: 768px) {
  /*il titolo rimane visibile durante tutto lo scorrimento (sticky)*/
  .header {
    position: sticky;
    top: 0;
    z-index: 2000;
    background-color: #a61022;
    padding: 10px 0;
    flex-direction: column;
    height: auto;
    border-bottom: none;/*elimina eventuali bordi residui*/
    gap: 0;
  }

  /*forzo il menu a tendina a scorrere a destra e sinistra senza che il resto della pagina lo faccia*/
  .menu {
    position: sticky;
    contain: none !important;
    height: 45px;
    min-height: 40px;
    display: flex;
    justify-content: flex-start !important;
    /*overflow: visible !important;*/
    overflow-x: auto !important; /*per lo scorrimento del menu*/
    overflow-y: visible !important;
    white-space: nowrap;
    padding: 0 15px;
    gap: 5px;
    -webkit-overflow-scrolling: touch;
    background-color: #a61022;
    contain: none;
    align-items: stretch; /*assicura che le caselle occupino l'altezza*/

  }

  /*nasconde una barra bianca che si creava nel menu*/
  .menu::-webkit-scrollbar {
    display: none;
  }

  .menu-tendina {
    position: relative !important; /*"attacca" la tendina alla casella visibile nel menu*/
    display: flex;
    align-items: center;
  }

  /*fa comparire la tendina*/
  .menu-tendina.active .dropdown-content {
    display: block !important;
  }

  /*evidenzia in rosso l'opzione cliccata*/
  .menu-tendina.active .casella {
    background-color: #ffffff;
    color: #a61022 !important;
  }

  .dropdown-content {
    display: none;
    position: fixed !important;
    width: auto !important;
    min-width: 130px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    z-index: 999999;
    border: 1px solid #ccc;
    border-top: none;
    transform: translateX(-50%);
  }

  .dropdown-content a {
    padding: 8px 15px !important; /*assottiglio*/
    border-bottom: 1px solid #eee;
    font-size: 15px !important;
    text-align: center; /*migliora l'estetica su telefono*/
  }

  .casella {
    font-size: 14px;
    padding: 10px 0;
  }

  h1 {
    font-size: 28px !important; /*riduzione del titolo*/
    margin: 0;
    line-height: 30px;
    color: #ffffff;
  }

  /*nasconde le classi dalla visibilità sul telefono (per motivi di estetica)*/
  .vuoto,.icone, .sottotitolo {
    display: none !important;
  }

  .centro {
    flex: 1;
    width: 100%;
  }

  .griglia {
    display: block; /*visualizzo una sola colonna non 3 come sullo schermo del pc*/
    padding: 30px;
  }

  .news-principali > h2 {
    font-size: 26px !important;
    line-height: 1.15; /*interlinea più stretta*/
    margin: 20px 0;    /*spazio sopra e sotto il titolo*/
    text-align: center !important;
    margin-bottom: 5px;
    margin-top: 80px !important; /*esagero lo spazio per evitare che risultino come una sola notizia invece di due*/
  }

  .news-principali p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
  }

  #paragrafo {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    color: #333;
  }

  .foto {
    margin: 10px 0;
  }

  /*voglio che le foto occupino tutta la larghezza*/
  .mini img, .mini-news img {
    width: 80px;
    height: 60px;
  }

  .mini {
    display: flex;
    flex-direction: row; /*immagine e testo sulla stessa riga*/
    align-items: center; /*centra il testo verticalmente rispetto alla foto*/
    justify-content: flex-start;
    gap: 12px;
    padding: 15px 0;
    border-bottom: 1px solid #eee;;
  }

  /*forzo la foto a non rimpicciolirsi*/
  .mini img {
    width: 100px !important;
    height: 75px !important;
    flex-shrink: 0;
    object-fit: cover;
  }

  /*il contenitore del testo deve occupare il resto dello spazio*/
  .testo-notizia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1; /*prende tutto lo spazio rimanente a destra della foto*/
  }

  /*sistemo i testi*/
  .testo-notizia p {
    font-size: 12px;
    margin-bottom: 2px;
    text-align: left; /*allinea a sinistra per risultare più ordinato*/
  }

  .testo-notizia h2 {
    font-size: 14px !important;
    line-height: 1.2;
    margin: 0;
    text-align: left;
  }

  /*le colonne diventano una lista verticale*/
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .footer-column ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-links-row {
    justify-content: center;
    gap: 10px;
  }


  .footer-column {
    width: 100%;
    min-width: unset;
  }

  .footer-links-row a {
    font-size: 16px; /*leggermente più piccoli per il telefono*/
  }
}